.product-detail {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  min-height: 90vh;
  width: 100%;
  background-color: var(--primary-gray-color);
}

.product-detail__container {
  max-width: 1200px;
  width: 100%;
}

.product-item {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  padding: 1rem;
}

.product-item__info {
  display: flex;
}

.product-item__info__image {
  width: 700px;
}
