.product-detail {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  background-color: var(--primary-gray-color);
}

.product-detail__container {
  max-width: 1200px;
  width: 100%;
}

.product-item {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  padding: 1rem;
}

.product-item__info {
  display: flex;
}

.product-item__info__image {
  width: 700px;
}

.product-item__info__container__title {
  font-weight: bold;
}

.product-item__info__container__price {
  font-size: 45px;
}

.product-item__description__title {
  font-size: 36px;
  padding: 1rem 0;
  font-weight: 500;
  width: 700px;
}